<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>Lista de dados</label>
            </div>
            <div class="panel-body">
                <div id="DataTable">
                </div>
            </div>
            <div class="panel-footer" style="text-align:center">
                <label>Clique nos registros para editar as informações!</label>
            </div>
        </div>
        <br />
        <div style="text-align:center">
            <button class="btn btn-primary" id="GenerateReport">Gerar relatório</button>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>



<script type="text/javascript" src="~/Views/Home/Index.js"></script>